 /* code for class profile (section of resume where profile is created) */
.profile{
    position: absolute;
    display: inline-block;
    display:flex;
    background-color: #006494;
    width: 300px;
    height: 330px;
    font: bold;
}

/* code to style class image(where image is placed) */
.image{
    display: flex;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 10%;
    left: 10%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
}

/* code for image (sets border radius, width and height) */
img{
    width:200px;
    width: 200px;
    border-radius: 50%;
}

/* code for class links(section of resume where links are placed) */
.links{
    display: flex;
    display: inline-block;
    position: absolute;
    margin: auto;
    top: 235px;
    text-align: center;
    left: 20%;
    right: 20%;
}

/* code for class rich_black (rich_black section of resume)  */
.rich_black{
    display: inline-block;
    margin-top: 330px;
    width: 300px;
    height: 830px;
    background-color: #051923;
    color:white;
}

   /* code for class white (white section of resume)  */
 
.white{
    
    color: #00A6FB;
    display: inline-block;
    position: absolute;
    padding-left:5%;
    width: 500px;
    height: 1000px;
    left: 310px;

}
/* to change the colour of all p tags in class white  */
.white p{
    color: #051923;
}
/* to change the color of all h3 and anchor tags in class link to colour white and remove text decoration */
.links h3,a{
    color:white;
    text-decoration: none;
}

/* to make horizontal rule darker */
.white hr{      
    border-color: black;
    border-width: 2px;
}